@import "../../palette.scss";

.about{
    position: relative;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: min-content;
    max-width: 75%;
    text-align: center;
}
.p1{
    font-family: 'Ropa Sans';
    color: $color4;
    font-size: 30px;
    padding: 0 100px 0 100px;
}