@import '../../palette.scss';

.top{
    padding: 0 0 300px; 
    overflow-x: hidden;
    z-index: 10;
    background-color: $color2;
    height: 100%;
}
.sideBar{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #414141;
    z-index: 5;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .topBar{
        flex-grow: 1;
        background-color: #545454;
        min-height: 3%;
        width: 100%;
        top: 90px;
        position: fixed;
        z-index: 3;
    }
    .files{
        flex-grow: 2;
        background-color: #676767;
        height: 100%
    }

}