@import '../../palette.scss';

.top{
    padding: 0 0 300px; 
    overflow-x: hidden;
    z-index: 10;
}
.container{
    position: relative;
    margin: auto;
    padding-top: 50px; 
    text-align: center;
    z-index: 30;
    background-color: $color1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .sideBar{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}