@import '../../palette.scss';

.top{
    z-index: 10;
    background-color: $color2;
    height: 100%;
    overflow: hidden;
}
.sideBar{
    position: fixed;
    width: 270px;
    height: 100%;
    background-color: #414141;
    z-index: 5;
}
.topBar{
    flex-grow: 1;
    background-color: #545454;
    height: 20px;
    width: 100%;
    top: 90px;
    position: fixed;
    z-index: 4;
}
.content{
    padding: 18px 0 0 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    .head{
        display: table;
        .name{
           display: table-cell;
           text-align: left; 
        }
        .size{
            display: table-cell;
           text-align: left; 
        }
        .type{
            display: table-cell;
            text-align: left; 
        }
    }
    .files{
        flex-grow: 2;
        overflow-y: scroll;
        background-color: #676767;
        height: 100%;
        z-index: 3;
    }
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    color: $color1;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    color: $color3;
}