@import '../../palette.scss';

.title{
    position: relative;
    z-index: 51;
    text-align: left;
    margin-top: auto;
    margin-bottom:auto;
    font-family: "Oleo Script Swash Caps";
    color: $color4;
    font-size: 65px;
    font-weight: normal;
    text-align: inherit;
}