@import '../../palette.scss';
.container{
    margin: auto;
    text-align: left;
    .titlebgContainer{
        position: absolute;
        width: 100%;
        .titlebg{
            text-align: left;
            margin: auto;
            font-family: "Oleo Script Swash Caps";
            color: $color5;
            font-size: 50px;
            font-weight: bold;
        }
    }
    .titleContainer{
        position: absolute;
        width: 100%;
        .title{
            text-align: left;
            margin: auto;
            font-family: "Oleo Script Swash Caps";
            color: $color4;
            font-size: 50px;
            font-weight: normal;
        }
    }
}