@import '../../palette.scss';

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    margin: 0px 50px 0px 50px;
    font-size: 25px;
    letter-spacing: 6px;
    line-height: 10px;
}
