@import '../../palette.scss';

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px 50px 0px 50px;
    .icon{
        width: 32px;
        height: 32px;
        opacity: 0;
        transition: opacity 1s ease-in;
        -webkit-transition: opacity 1s ease-in;
        .icon:hover{
            opacity: 1;
        }
    }

} 