@import '../../palette.scss';
.top{
    padding: 100px 0 300px; 
    overflow-x: hidden;
    z-index: 10;
}
.container{
    position: relative;
    margin: auto;
    padding-top: 100px; 
    text-align: center;
    z-index: 30;  
}
h1{
    font-family: 'Ropa Sans';
    font-size: 70px;
    color: $color4;
}