@import "../../palette.scss";

.container{
    position: relative;
    width: 100%;
    .overlay{
        position: absolute;
    }
}

.particles{
    height: 100%;
    width: 100%;
}

.divParticle{
    position: absolute;
    background-color:$color1;
    width: 100%;
}