@import "../../palette.scss";

.container{
    position: relative;
    width: 100%;
    height: 100%;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.particles{
    height: 100vh;
    width: 100vw;
}

.divParticle{
    position: absolute;
    background-color:$color1;
    width: 100%;
}