@import '../../palette.scss';

.base{
    height: 30%;
    position: relative;
    margin: auto;
    padding: 10%;
    text-align: center;
    .resting{
        padding-top:50%;
        height:100%;
        background: $color1;
    }
    
    .dropHover{
        padding-top:50%;
        height: 100%;
        background: $color4;
    }
    .uploading{
        padding-top:50%;
        height: 100%;
        background: $color4;
    }
}