@import '../../palette.scss';

.base{
    height: 30%; 
    padding: 15% 10% 15% 10%;
    text-align: center;
    .resting{
        height:100%;
        background: transparent;
        border-style: dashed;
        border-width: 3px;
        border-color: $color1;
    }
    
    .dropHover{
        height:100%;
        background: transparent;
        border-style: dashed;
        border-width: 3px;
        border-color: $color4;
    }
    .uploading{
        height:100%;
        background: transparent;
        border-style: dashed;
        border-width: 3px;
        border-color: $color1;
    }
}