/* Coolors Exported Palette - coolors.co/2f2f2f-adadad-e6e6e6-bc2727-902727 */

/*Reds
$color1: rgba(47, 47, 47, 1);
$color2: rgba(173, 173, 173, 1);
$color3: rgba(230, 230, 230, 1);
$color4: rgba(188, 39, 39, 1);
$color5: rgba(144, 39, 39, 1);
*/

/*Greens*/
$color1: rgba(47, 47, 47, 1);
$color2: rgba(173, 173, 173, 1);
$color3: rgba(230, 230, 230, 1);
$color4: rgba(89, 188, 39, 1);
$color5: rgba(73, 142, 38, 1);


/*Blues
$color1: rgba(47, 47, 47, 1);
$color2: rgba(173, 173, 173, 1);
$color3: rgba(230, 230, 230, 1);
$color4: rgba(39, 139, 188, 1);
$color5: rgba(38, 108, 142, 1);
*/

:export{
    colorBlack: $color1;
    colorGray: $color2;
    colorWhite: $color3;
    colorRed: $color4;
    colorDarkRed: $color5;
}