@import '../../palette.scss';

.file{
    width: 99.5%;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #414141;
    padding: 10px 0 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .icon{
        width: 37px;
        height: 32px;
    }
    .nameCont{
        text-align: left;
        font-family: 'Ropa Sans';
        color: $color4;
        font-size: 20px;
        text-overflow: clip;
        white-space: nowrap;
        height: 32px;
        width: 29%;
        overflow: hidden;
        margin-right: 40px; 
        .name{
            text-overflow: clip;
            white-space: nowrap;
            margin: 5px 0 5px 0;
        }
    }
}