@import "../../palette.scss";

.loginContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    .userRow{
        margin-bottom: 1vh;
    }
    .username{
        font-family: "Ropa Sans";
        font-size: 4vh;
        color: $color4;
        display: table-row;
        padding-right: 3vh;
    }
    .usernameIn{
        display: table-cell;
        margin: 0;
        border: 3px solid $color4;
        background: transparent;
        color: #fff;
        padding: 10px 6px;
        font-size: 13px;
        line-height: 12px;
        box-sizing: border-box;
        vertical-align: middle;
        border-radius: 0;
        pointer-events: auto;
    }
    .passRow{
        margin-top: 1vh;
    }
    .password{
        font-family: "Ropa Sans";
        font-size: 4vh;
        color: $color4;
        display: table-row;
        padding-right: 3vh;
    }
    .passwordIn{
        display: table-cell;
        margin: 0;
        border: 3px solid $color4;
        background: transparent;
        color: #fff;
        padding: 10px 6px;
        font-size: 13px;
        line-height: 12px;
        box-sizing: border-box;
        vertical-align: middle;
        border-radius: 0;
        pointer-events: auto;
    }
}

