@import "../../palette.scss";

.loginContainer{
    position: relative;
    margin: auto;
    display: flex;
    .usernameIn{
        display: table-cell;
        margin: 0;
        border: 3px solid $color4;
        background: transparent;
        color: #fff;
        padding: 10px 6px;
        font-size: 13px;
        line-height: 12px;
        box-sizing: border-box;
        vertical-align: middle;
        border-radius: 0;
        pointer-events: auto;
    }
    .passwordIn{
        display: table-cell;
        margin: 0;
        border: 3px solid $color4;
        background: transparent;
        color: #fff;
        padding: 10px 6px;
        font-size: 13px;
        line-height: 12px;
        box-sizing: border-box;
        vertical-align: middle;
        border-radius: 0;
        pointer-events: auto;
    }
    input:focus {
        outline:none;
    }
}

