@import '../../palette.scss';

body {
    margin:0;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    background-color: $color1
}
.top{
    padding: 150px 0 100px; 
    overflow-x: hidden;
}
.blocks{
    margin: auto;
    margin-top: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 100vh;
    .left{
        flex: 1;
        order:1;
        top:0px;
    }
    .right{
        flex: 1;
        order:2;
        top:0px;
    }
}