@import '../../palette.scss';

body {
    margin:0;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    background-color: $color1
}
.top{
    padding: 150px 0 100px; 
    overflow-x: hidden;
    z-index: 10;
}
