@import '../../palette.scss';

body {
    margin:0;
    height: 100%;
    position: relative;
    max-width: 100%;
    background-color: $color1
}

.header{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid $color5; 
    background-color: transparent;
    font-family: 'Rosa Sans';
    transition: background-color .5s;
    transition-timing-function: ease-out;
    .headerTitle{
        margin-left: 10px;
    }
    .links{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        flex-grow: 2;
        padding: 0 10px 0 20px;
    }
    .logout{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 2;
        padding: 0 10px 0 20px;
    }
}
.spacer{
    content: "";
    height: 92px;
    width: 100%;
}
.trigger{
    content: "";
    position: absolute;
    top: 10px;
    height: 70px;
    width: 100%;
}
.bodyWrap{
    height: 87.5%
}