.file{
    display: table;
    padding: 15px 0 15px 0;
    border-style: solid none solid none;
    border-width: 0px 0 2px 0;
    border-color: #414141;
    border-collapse: separate;
    .name{
        overflow-x: hidden;
        display: table-cell;
        padding-left: 20px;
        text-overflow: clip;
        .nameText{
            font-family: 'Ropa Sans';
            font-size: 20px;
            text-align: left;
        }
    }
    .size{
        display: table-cell;
        padding-left: 20px;
        .sizeText{
            font-family: 'Ropa Sans';
            font-size: 20px;
            text-align: left;
        }
    }
    .type{
        display: table-cell;
        padding-left: 20px;
        .typeText{
            font-family: 'Ropa Sans';
            font-size: 20px;
            text-align: left;
        }
    }
}